	#top{width:100%;height:120px;background-color:#eee;margin-top:0px;}
	/*header*/
	#header {width:1024px; margin:0 auto;height:80px;border:0px solid red;}
	#header img{width:450;height:60;padding-top:10px;}
	#visited{font-size:18px;float:right;height:40px;line-height:40px;text-align:center;}
	/*header*/
	/*menu*/
	#menu {width:1024px; margin:0 auto; border: 0px solid #CCC; height:40px;font-size:17px;font-family:"宋体";font-weight:bold;}
	/*父级菜单*/
	#menu ul {list-style: none; margin: 0px; padding: 0px; }
	#menu ul li {float:left; padding: 0px 0px; height:40px; margin-left:20px;padding-left:0px;}
	#menu ul li a{display:block;width:100px;height:40px;line-height:40px;text-align:center;color:#555555;}
	#menu ul li a:hover{background:#333;color:#fff;}
	/*父级菜单*/

	/*下拉子菜单*/
	#menu ul li ul{display:none;border:1px solid #ccc;position:absolute;}
	#menu ul li:hover ul{display:block;z-index:99999;}
	#menu ul li ul li{float:none;width:100px;margin:0;}/*清除二级菜单的浮动*/
	#menu ul li ul li a{background:#BCBCBC;}
	#menu ul li ul li a:hover{background:#333;color:#fff;}
	/*下拉子菜单*/
	/*menu*/